<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="./favicon.png">
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {{ with .Params.role }}<meta name="nb-role" content="{{ . }}">{{ end }}

    <meta name="nb-research" content="Tato kniha je dočasně součástí výzkumu, který nám pomůže vylepšit webové knihy. Sbíráme pouze anonymní data o tom, jak čtete knihu. Pro účast ve výzkumu klikněte na tlačítko Souhlasím.">
    <meta name="nb-research-orgs" content="Městská knihovna v Praze a Masarykova univerzita">
    <meta name="nb-research-ga" content="UA-187132260-1">

    <title>{{ .Title }}</title>

		{{ $style := resources.Get "style/style.scss" | toCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

    {{ $proto := resources.Get "style/proto.scss" | toCSS }}
		<link rel="stylesheet" href="{{ $proto.Permalink }}" media="screen">
  </head>
  <body class="{{ with .Params.class }}{{ . }}{{ end }}" epub:type="{{ with .Params.type }}{{ . }}{{ else }}chapter{{ end }}">
    {{ block "content" . }}{{ end }}

		{{ $scripts := resources.Get "scripts/interface.js" }}
    <script type="text/javascript" src="{{ $scripts.Permalink }}"></script>
  </body>
</html>
