// replaced due to dart-sass/dart-sass-embedded conflict as of July 22 2021
// @import "./../../node_modules/@next-book/interface/src/scss/style.scss";
@import "./../../node_modules/@next-book/interface/dist/interface";

@font-face {
  font-family: "League";
  src: url("./../fonts/leaguespartan-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("./../fonts/PTSerif-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("./../fonts/PTSerif-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT Serif";
  src: url("./../fonts/PTSerif-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("./../fonts/PTSerif-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

.nb-custom-style {
  --heading-font: League;
  --content-font: "PT Serif";

  font-family: var(--content-font);
}

.content sup[id^="fnref"] a.footnote-ref {
  font-family: var(--ui-font);
  font-weight: 700;
  text-indent: 0;
  color: var(--ui-c-text-shade);
  vertical-align: baseline;
  background: var(--ui-c-bg-shade);
  padding: 0.3rem 0.5rem 0.2rem;
  border-radius: 0.5rem;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  font-size: 0.6rem;
  position: relative;
  top: -0.3rem;

  color: red;
}
